policy_module(gitea-sshd,1.0)

gen_require(`
type sshd_t;
type  container_runtime_exec_t;
')

allow sshd_t container_runtime_exec_t:file { execute execute_no_trans open read map };
